body {
    background: $background-color !important;
    font-family: $font-family !important;
}

.main-container {
    margin: 0 auto;
    padding-left: 7px;
    padding-right: 7px;
}

input {
    @include input;
}