@mixin box {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    margin-bottom: 16px!important;
}

@mixin input {
    border-top: none!important;
    border-bottom: 1px solid #b7b7b7;
    border-left: none!important;
    border-right: none!important;
    appearance:none;
    font-size: 16px;
    &:focus {
        outline: none;
        border-bottom: 2px solid $brand-green!important;
        transition: all .15s ease-in-out;
	}
	&:required {
		border-top: none!important;
		border-bottom: 1px solid #b7b7b7;
		border-left: none!important;
		border-right: none!important;
		&:focus {
            box-shadow: none;
            outline: none;
            border-bottom: 2px solid $brand-green!important;
            transition: all .15s ease-in-out;
		}
	}
}