/* * * MEDIAQUERIES * * */

$break-mobile: 375px;
$break-tablet_sm: 375px;
$break-desk: 1024px;

// TIPOGRAFIA

$familyBold: 'montserratbold';
$familyLight: 'montserratlight';
$familyMedium: 'montserratmedium';
$familyRegular: 'montserratregular';
$familyItalic: 'montserratitalic';

// PALETA DE COLORES 

// PALETA DE CROMÁTICA

$brand-color: #00BA68;
$brand-secondary-color: #ffbf2a;
$brand-darker: #4E646D;
$typo-color: #444;
$background-color: #F0F0F0;
$brand-green: #1BB3BC; 
$brand_disable: #C2C2C2;

// TIPOGRAFÍA

$font-family: 'Roboto', sans-serif;


//ELEMENTOS

$border-radius: 4px;
$box-shadow: 0 2px 6px rgba(0,0,0,0.02),0 4px 10px rgba(0,0,0,0.2);;



