.box-input {
    @include box;
    margin-top: 2em;
    padding-top: 1em;
    min-height: 8em;
    font-size: 13px;
    overflow-y: scroll;
    .title-input {
        font-size: 13px;
        color: #3b454e;
    }
    .value-info {
        font-size: 36px;
    }
    &__darker {
        @extend .box-input;
        background: $brand-darker;
        color: white !important;
    }
    h5 {
        font-size: 14px !important;
    }
    .titulo-box {
        text-align: center;
        margin: -40px auto 16px auto;
        width: 80%;
        h2 {
            margin-bottom: 33px !important;
        }
    }
    .info-mensaje {
        background: #ECEFF3;
        display: inline-block;
        padding: 16px 0;
        margin-top: 16px;
        width: 100%;
        text-align: center;
    }
}

.metricas {
    display: inline-block;
    width: 103%;
    margin: 0 -1em;
}

