.btn {
    text-align: center;
    width: 256px!important;
    border-radius: 100px!important;
    border: none!important;
    padding: 1em 0!important;
    font-size: 16px!important;
    font-weight: 600!important;
    line-height: 1!important;
    background: $brand-secondary-color!important;
    color: #fff!important;
    &:hover {
        color: #fff!important;
    }
    &:focus {
        color: #fff!important;
    }
    .btn-title {
        display: inline-block!important;
    }
    img {
        display: inline-block;
        padding-left: 20px;
        position: relative;
        bottom: 1px;
    }
}
