header {
    background-color: $brand-color;
    width: 100%;
    height: 56px;
    color: #fff;
    font-family: $font-family !important;
    font-weight: normal;
    margin-bottom: 16px;
    padding: .8em 0 0 0;
    nav {
        display: inline-block;
        width: 100%;
        text-align: right;
        ul {
            list-style: none;
            width: 100%;
            li:not(:first-child) {
                margin-top: 6px;
            }
            li {
                padding: .4em;
                margin: 0 1em;
                display: inline-block;
                float: left;
                .logo {
                    padding: 0 1em 1em 1em !important;
                    position: relative !important;
                    bottom: .7em !important;
                    img {
                        width: 16em;
                    }
                    
                }
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 1em;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
