/* * * MEDIAQUERIES * * */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #F0F0F0 !important;
  font-family: "Roboto", sans-serif !important;
}

.main-container {
  margin: 0 auto;
  padding-left: 7px;
  padding-right: 7px;
}

input {
  border-top: none !important;
  border-bottom: 1px solid #b7b7b7;
  border-left: none !important;
  border-right: none !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #1BB3BC !important;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

input:required {
  border-top: none !important;
  border-bottom: 1px solid #b7b7b7;
  border-left: none !important;
  border-right: none !important;
}

input:required:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1BB3BC !important;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

header {
  background-color: #00BA68;
  width: 100%;
  height: 56px;
  color: #fff;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  margin-bottom: 16px;
  padding: .8em 0 0 0;
}

header nav {
  display: inline-block;
  width: 100%;
  text-align: right;
}

header nav ul {
  list-style: none;
  width: 100%;
}

header nav ul li:not(:first-child) {
  margin-top: 6px;
}

header nav ul li {
  padding: .4em;
  margin: 0 1em;
  display: inline-block;
  float: left;
}

header nav ul li .logo {
  padding: 0 1em 1em 1em !important;
  position: relative !important;
  bottom: .7em !important;
}

header nav ul li .logo img {
  width: 16em;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.box-input, .box-input__darker {
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02), 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02), 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px !important;
  margin-top: 2em;
  padding-top: 1em;
  min-height: 8em;
  font-size: 13px;
  overflow-y: scroll;
}

.box-input .title-input, .box-input__darker .title-input {
  font-size: 13px;
  color: #3b454e;
}

.box-input .value-info, .box-input__darker .value-info {
  font-size: 36px;
}

.box-input__darker {
  background: #4E646D;
  color: white !important;
}

.box-input h5, .box-input__darker h5 {
  font-size: 14px !important;
}

.box-input .titulo-box, .box-input__darker .titulo-box {
  text-align: center;
  margin: -40px auto 16px auto;
  width: 80%;
}

.box-input .titulo-box h2, .box-input__darker .titulo-box h2 {
  margin-bottom: 33px !important;
}

.box-input .info-mensaje, .box-input__darker .info-mensaje {
  background: #ECEFF3;
  display: inline-block;
  padding: 16px 0;
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

.metricas {
  display: inline-block;
  width: 103%;
  margin: 0 -1em;
}

.btn {
  text-align: center;
  width: 256px !important;
  border-radius: 100px !important;
  border: none !important;
  padding: 1em 0 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  background: #ffbf2a !important;
  color: #fff !important;
}

.btn:hover {
  color: #fff !important;
}

.btn:focus {
  color: #fff !important;
}

.btn .btn-title {
  display: inline-block !important;
}

.btn img {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  bottom: 1px;
}
